.control-editable {
  display: none;
  position: absolute;
  text-align: right;
  background: rgba(246, 231, 178, 0.1);
  border: 2px dashed rgba(246, 231, 178, 0.5);
  height: 20px;
  width: 50px;
  pointer-events: none;
  z-index: 9000;
}
.control-editable.active,
.control-editable.visible {
  display: block;
}
.control-editable.active {
  background: transparent;
  border: none;
}
.control-editable button {
  pointer-events: auto;
  border: none;
  width: 26px !important;
  height: 30px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-size: auto 30px;
  text-indent: -9999px;
  line-height: 0;
  overflow: hidden;
  border-radius: 1px;
}
.control-editable button.editable-edit-button {
  background-color: transparent;
  background-image: url('../images/edit-icon.png');
}
.control-editable button.editable-edit-button:hover {
  background-position: 100% 0;
}
.control-editable button.editable-save-button,
.control-editable button.editable-cancel-button {
  height: 26px;
  background-color: #f0f0f0;
  margin: 4px 2px;
}
.control-editable button.editable-save-button {
  background-image: url('../images/save-icon.png');
}
.control-editable button.editable-save-button:hover {
  background-position: 100% 0;
}
.control-editable button.editable-cancel-button {
  margin-right: 4px;
  background-image: url('../images/cancel-icon.png');
}
.control-editable button.editable-cancel-button:hover {
  background-position: 100% 0;
}
